@using PC.Webshop.Model
@model Cart

@{
    ViewData["Title"] = "Košarica";
    var sum = ViewData["sum"];

}


<table style="margin-top: 20px;" class="table table-condensed" id="table">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Brand</th>
            <th>Opis</th>
            <th>Cijena</th>
            <th>Serijski broj</th>
            <th>Kategorija</th>
            <th>Količina</th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.CartItems != null)
        {
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Brand</td>
                    <td>@item.Product.Description</td>
                    <td>@item.Product.Price kn</td>
                    <td>@item.Product.SerialNumber</td>
                    <td>@item.Product.Category?.Name</td>
                    <td>@item.Amount</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }

            <tr>
                <td colspan="3">Ukupno: @sum kn</td>
            </tr>
        }
    </tbody>
</table>

@if (Model.CartItems.Count != 0)
{
    <div>
        <a asp-action="OrderProducts" asp-route-id="@Model.ID" asp-controller="Order" class="btn btn-success">Naruči</a>
    </div>
}

